.flex-columns {
    display: flex;
    flex-wrap: wrap;
}

.flex-columns .col {
    flex: 1 1 300px;
    padding: 10px;
}

.flex-columns .header {
    font-weight: bold;
}

.badge {
    background-color: color-mix(in srgb, grey 80%, transparent 20%);
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.badge.client-error {
    background-color: color-mix(in srgb, #ffc107 80%, transparent 20%);
}

.badge.server-error {
    background-color: color-mix(in srgb, #dc3545 80%, transparent 20%);
}

.badge.success {
    background-color: color-mix(in srgb, #28a745 80%, transparent 20%);
}

.badge.redirection {
    background-color: color-mix(in srgb, #17a2b8 80%, transparent 20%);
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
}

.grid div {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    vertical-align: middle;
}

.grid div:has(ul) {
    justify-content: left;
}

.grid .header {
    font-weight: bold;
    justify-content: flex-end;
    text-align: right;
}

.grid div:not(.header) {
    border: 1px solid #c1c1c1;
    background-color: color-mix(in srgb, transparent 90%, currentColor 10%);
    font-size: 0.7em;
}

.monospaced {
    font-family: 'Fira Code', monospace;
    /* font-weight: bold; */
    color: var(--r-main-color);
    background-color: color-mix(in srgb, grey 30%, transparent 70%);
    padding: 0px 4px;
    border-radius: 5px;
    margin: 0px 6px;
}

.monospaced.get {
    color: color-mix(in srgb, #28a745 80%, var(--r-main-color) 20%);
}

.monospaced.head {
    color: color-mix(in srgb, #28a745 80%, var(--r-main-color) 20%);
}

.monospaced.post {
    color: color-mix(in srgb, #c08401 80%, var(--r-main-color) 20%);
}

.monospaced.put {
    color: color-mix(in srgb, #17a2b8 80%, var(--r-main-color) 20%);
}

.monospaced.patch {
    color: color-mix(in srgb, #ac45f6 80%, var(--r-main-color) 20%);
}

.monospaced.delete {
    color: color-mix(in srgb, #b42735 80%, var(--r-main-color) 20%);
}

.grid > .span-2 {
    grid-column: span 2;
}

.grid > .span-3 {
    grid-column: span 3;
}

.grid > .span-4 {
    grid-column: span 4;
}

.grid .left-aligned {
    text-align: left;
    justify-self: flex-start;
}

.grid .right-aligned {
    text-align: right;
    justify-content: flex-end;
}